<section class="advantages">
  <div class="container">
    <div class="advantages__row">
      <div class="advantages__item">
        <div class="advantages__img-wrapper">
          <picture class="advantages__img">
            <source srcset="images/advantages/advantages-1.webp" type="image/webp" />
            <img
              
              src="images/advantages/advantages-1.jpg"
              width="680"
              height="660"
              alt="advantages"
            />
          </picture>
        </div>
        <div class="advantages__info-wrapper">
          <h2 class="advantages__title h2">Ultra Light</h2>
          <p class="advantages__text">
            Drone move faster with weighing component under 200 g
          </p>
        </div>
      </div>

      <div class="advantages__item">
        <div class="advantages__img-wrapper">
          <picture class="advantages__img">
            <source srcset="images/advantages/advantages-2.webp" type="image/webp" />
            <img
              src="images/advantages/advantages-2.jpg"
              width="680"
              height="660"
              alt="advantages"
            />
          </picture>
        </div>
        <div class="advantages__info-wrapper">
          <h2 class="advantages__title advantages__title--white h2">
            Best Resolution
          </h2>
          <p class="advantages__text advantages__text--white">
            Take a beautiful view with best camera up to 4K Camera Resolution
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
