<section class="main-section">
  <div class="container">
    <div class="main-section__row">
      <h1 class="main-section__title h1">Representing Drone Light</h1>
      <p class="main-section__subtitle">
        Look up the sky and beautiful world with simple navigation. Just record
        anmd get a lot memories to share, lighlty and fast like a lightning
      </p>
      <a href="#" class="main-section__btn btn">get now</a>

      <div class="main-section__img-wrapper">
        <picture class="main-section__img">
          <source
            srcset="images/main-section/main-section.webp"
            type="image/webp"
          />
          <img
            src="images/main-section/main-section.jpg"
            width="518"
            height="231"
            alt="drone"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
