<section class="new">
  <div class="container">
    <h2 class="new__title h2">New Products</h2>
    <p class="new__subtitle">
      New innovation, best quality than before. Make every moment flying
      operation become unforgettable.
    </p>

    <div class="new__cards-wrapper cards">
      <div class="cards__item">
        <div class="cards__item-inner">
          <div class="cards__img-wrapper">
            <picture class="cards__img">
              <source srcset="images/new/new-1.webp" type="image/webp" />
              <img src="images/new/new-1.jpg" width="410" height="240" alt="Mini Drone" />
            </picture>
          </div>
          <div class="cards__text-wrapper">
            <h3 class="cards__title h3">Mini Drone</h3>
            <p class="cards__text">
              Powerful camera drone at an affordable price range. Camera up to
              4K resolution, optimize shots automatically.
            </p>
            <a href="#" class="cards__btn btn">get now</a>
          </div>
        </div>
      </div>

      <div class="cards__item">
        <div class="cards__item-inner">
          <div class="cards__img-wrapper">
            <picture class="cards__img">
              <source srcset="images/new/new-2.webp" type="image/webp" />
              <img src="images/new/new-2.jpg" width="410" height="240" alt="Mini Drone" />
            </picture>
          </div>
          <div class="cards__text-wrapper">
            <h3 class="cards__title h3">Drone Light</h3>
            <p class="cards__text">
              Drone light is every creators dream. Setting apperture manually
              and high battery performance. Drone light is everything you need.
            </p>
            <a href="#" class="cards__btn btn">get now</a>
          </div>
        </div>
      </div>

      <div class="cards__item">
        <div class="cards__item-inner">
          <div class="cards__img-wrapper">
            <picture class="cards__img">
              <source srcset="images/new/new-3.webp" type="image/webp" />
              <img src="images/new/new-3.jpg" width="410" height="240" alt="Mini Drone" />
            </picture>
          </div>
          <div class="cards__text-wrapper">
            <h3 class="cards__title h3">Phantom Drone</h3>
            <p class="cards__text">
              Inspired by phantom, drone can move faster and quickly like a
              ghost.Focus on speed so you can investigate environtment quickly.
            </p>
            <a href="#" class="cards__btn btn">get now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
