<section class="why">
  <div class="container">
    <div class="why__row">
      <div class="why__img-wrapper">
        <picture class="why__img">
          <source srcset="images/why/why.webp" type="image/webp" />
          <img src="images/why/why.jpg" width="342" height="358" alt="drone" />
        </picture>
      </div>

      <div class="why__info">
        <h2 class="why__info-title h2">Why Drone Light?</h2>
        <p class="why__info-text">
          We provide a best self drone easy to use and operate. With auto pilot,
          the device will take a beautiful view for the best of flying
          operation.
        </p>
        <div class="why__specs">
          <div class="why__specs-item">
            <div class="why__specs-num">4K</div>
            <div class="why__specs-desc">Camera Resolution</div>
          </div>
          <div class="why__specs-item">
            <div class="why__specs-num">2 TB</div>
            <div class="why__specs-desc">Storage Capacity</div>
          </div>
          <div class="why__specs-item">
            <div class="why__specs-num">60 m/s</div>
            <div class="why__specs-desc">Super Max Speed</div>
          </div>
          <div class="why__specs-item">
            <div class="why__specs-num">30 mins</div>
            <div class="why__specs-desc">Long Flight Time</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
